<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../../partials/head'); %>
  <body>
    <%- include('./partials/sidebar-top'); %>
    <main
      class="
        flex flex-col
        gap-6
        place-items-center
        px-36
        py-10
        space-x-4
        items-center
        justify-items-center
      "
    ></main>
    <%- include('./partials/sidebar-bottom'); %>
  </body>
</html>
